login-component {
  .header-login {
    margin-top: 0;
    text-align: center;
    color: #4e5050;
  }

  .withIcon {
    & .input-cover {
      width: 85% !important;
    }
  }

  .btn-login {
    margin-top: 33px;
    background-color: #266d76;
  }
}
