<ion-grid>
  <form [formGroup]="loginForm" name="loginForm">
    <ion-row>
      <ion-col>
        <h3 class="header-login">{{title}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-item>
          <ion-input type="text" placeholder="Email" name="Email" formControlName="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-item>
          <ion-input [ngClass]="{withIcon:isPasswrodShow == 'true'}" [type]="passwordType" placeholder="Password" name="Password" formControlName="password"></ion-input>
          <ion-icon item-right [name]="passwordIcon" color="dark" (click)='show()' *ngIf="isPasswrodShow == 'true'"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <button ion-button class="btn-login" block (click)="loginUser(loginForm.value)"> {{buttonName}} </button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
